.custom-ul,
ul:not([class]) {
  $dimensions-marker: 10;

  // margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    // margin-bottom: 0.1em;
    position: relative;
    padding-left: $dimensions-marker * 1px + 15px;
    padding-left: 40px;

    &::before {
      content: '';
      position: absolute;
      left: 0.5em;
      top: 0.4em;
      width: rem($dimensions-marker);
      height: rem($dimensions-marker);
      box-sizing: border-box;
      border-radius: 50%;
      background-color: $accent-color;
      border: 2px solid $accent-color;
    }
  }
}
