.primary-logo {
  text-align: center;
  line-height: 1.1;
}

.primary-logo__image {
  margin-bottom: 15px;
}

.primary-logo__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: rem(30);
  font-weight: 700;
  text-transform: uppercase;
}

.primary-logo__subtitle {
  font-size: rem(15);
}
