.primary {
    // background-color: #dec;
}

.primary__rows {
  @include container();
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  box-sizing: border-box;
}

.primary__row {
  min-height: 50px;
  max-width: 100%;
  // background-color: #7de;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-top: 1em;
    margin-bottom: 0;
  }
}
